prueba/src/main/resources/employees.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:sch="http://spring.io/guides/gs-producing-web-service"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  targetNamespace="http://spring.io/guides/gs-producing-web-service">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
                   targetNamespace="http://spring.io/guides/gs-producing-web-service">
            <xs:element name="employedRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="names" type="xs:string"/>
                        <xs:element name="lastNames" type="xs:string"/>
                        <xs:element name="typeDocument" type="xs:string"/>
                        <xs:element name="document" type="xs:string"/>
                        <xs:element name="birthDate" type="xs:string"/>
                        <xs:element name="dateGetCompany" type="xs:string"/>
                        <xs:element name="charge" type="xs:string"/>
                        <xs:element name="salary" type="xs:double"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="employedResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="names" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="employedResponse">
        <wsdl:part element="employedResponse" name="employedResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="employedRequest">
        <wsdl:part element="employedRequest" name="employedRequest">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="CountriesPort">
        <wsdl:operation name="getEmployed">
            <wsdl:input message="employedRequest" name="employedRequest">
            </wsdl:input>
            <wsdl:output message="employedResponse" name="employedResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="CountriesPortSoap11" type="CountriesPort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getEmployed">
            <soap:operation soapAction=""/>
            <wsdl:input name="employedRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="employedResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="CountriesPortService">
        <wsdl:port binding="CountriesPortSoap11" name="CountriesPortSoap11">
            <soap:address location="http://localhost:8080/ws"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>